.root {
  position: relative !important;
}

.navButtons {
  gap: 8px;
  :global(.MuiButton-startIcon) {
    opacity: 0.5;
  }
}

.drawerListItem {
  :global(.MuiListItemIcon-root) {
    opacity: 0.5;
    min-width: 36px;
  }
}
