$animationTime: 250ms;

$defaultFontSize: 14px;

$controlsBorderRadius: 10px;

$primaryColor: #26abe0;

$errorColor: #c33;
$dangerColor: #c33;
$warnColor: #f73;
$successColor: #593;
$infoColor: #0074eb;

$borderColor: rgba(27, 31, 59, 0.1);
