// Export variables for use in js code.
// NOTE: Remember to use `parseInt` to extract numeric values.

/* stylelint-disable-next-line selector-pseudo-class-no-unknown */
:export {
  transitionTimeMs: $transitionTimeMs;
  animationTimeMs: $animationTimeMs;
  disappearTimeMs: $disappearTimeMs;

  defaultFontSizePx: $defaultFontSizePx;

  primaryColor: $primaryColor;
  secondaryColor: $secondaryColor;

  errorColor: $errorColor;
  dangerColor: $dangerColor;
  warnColor: $warnColor;
  successColor: $successColor;
  infoColor: $infoColor;

  themeControlsRadiusPx: $themeControlsRadiusPx;
}
