@use 'sass:math';
@use 'sass:color';

$animationTimeMs: 250ms;

$defaultFontSize: 14px;

$controlsBorderRadius: 10px;

$primaryColor: #26abe0;

$defaultTextColor: #333;
$defaultLinkColor: #003d9d;
$neutralColor: #888;

$errorColor: #c33;
$dangerColor: #c33;
$warnColor: #f73;
$successColor: #593;
$infoColor: #0074eb;

$bodyBgColor: #f5f5f5;

$borderColor: rgba(27, 31, 59, 0.1);

$demoColor: color.change(yellow, $alpha: 0.5);
