.root {
  // Scrollable container
  @include scrollableContainer;
}
.section {
  margin: $containerPaddingPx 0;
}
.content,
.actions,
.inputFields {
  /*!KEEP*/
}

.list {
  margin-top: 0;
  margin-bottom: 0.35em;
}

.uploadButton {
  label {
    justify-content: flex-start;
  }
}
