.root {
  @include singleFullSizeContainer;
  flex-direction: row;
  justify-content: stretch;
  align-items: stretch;
}
.chartArea,
.root {
  /*!KEEP*/
}

.chartArea {
  // @include clippingFullSizeContainer
  display: flex;
  overflow: hidden;
  flex-direction: column;
  position: relative;
}
